.nav {
    position:fixed;
    bottom:0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0fa;
    padding: 20px 40px;
    border-top: 1px solid rgba(121,121,121,0.2);

}
.nav__list{
    display: flex;
   justify-content: space-between;
    
}
.nav__link{
color:#2e363e;
position: relative;
}

/* icon이 클릭되면 border-top color가 노랗게 되게*/

.nav__notification{
    position: absolute;
    left: 20px;
    bottom:16px;
}
.nav__dot{
    position: absolute;
    top:-13px;
}